VITE_SUPABASE_URL=https://zqydrgcqpvslqkregawa.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpxeWRyZ2NxcHZzbHFrcmVnYXdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3ODcwOTMsImV4cCI6MjA5MTM2MzA5M30.3yVWC8fwc0u3FEdy4ua85Bezax8ia54QQFraZU29S04
VITE_AGENT_API_URL=https://87.99.133.69:3001
